.modal_content
   margin: 0 auto
   min-height: auto
   padding: 70px 114px
   text-align: center
   width: auto
   letter-spacing: normal


.title
   margin-bottom: 8px


.text
   font-size: 15px
   font-weight: 400


.modal_dialog
   @media (max-width: 767px)
      margin: 0


@media (max-width: 767px)
   .modal_content
      padding: 56px 16px 24px

