@import '../../public/styles/variable'

._
   display: none
   position: fixed
   bottom: 32px
   left: $wrapperTablet
   right: $wrapperTablet
   z-index: 1
   box-shadow: 0 12px 20px rgba(115, 25, 130, 0.25)
   cursor: pointer
   padding: 0 0 0 10px

   span
      vertical-align: middle

   path
      fill: #FFFFFF

   @media (max-width: $tablet)
      display: initial


   @media (max-width: $mobile)
      left: $wrapperMobile
      right: $wrapperMobile